@layer starlight, nova, custom-styles;

@layer custom-styles {
  main ul > li {
    list-style-type: square;
    list-style-position: inside;
  }

  .hero {
    padding-bottom: clamp(2rem, calc(1rem + 10vmin), 5rem);
  }
}
