@layer starlight, nova, custom-styles;

@layer custom-styles {
  main ul > li {
    list-style-type: square;
    list-style-position: inside;
  }

  .hero {
    padding-bottom: 2rem;
    padding-top: 3rem;
  }

  .content-panel li > ul {
    margin-left: 1.4rem;
  }
}
